@font-face {
  font-family: "iconfont"; /* Project id 4127337 */
  src: url('iconfont.woff2?t=1686994280727') format('woff2'),
       url('iconfont.woff?t=1686994280727') format('woff'),
       url('iconfont.ttf?t=1686994280727') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-volumeCross:before {
  content: "\ea0f";
}

.icon-24gf-volumeHigh:before {
  content: "\ea11";
}

